---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Us";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>About Our Team or Mission</h2>
    <!-- Additional specific content for the About Us page -->
</BaseLayout>
