---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Blog Introduction or Any Specific Content Here</h2>
  <!-- Other blog-specific content goes here -->
   <ul>
            <li><a href="/astro_test/posts/post-1/">Post 1</a></li>
            <li><a href="/astro_test/posts/post-2/">Post 2</a></li>
            <li><a href="/astro_test/posts/post-3/">Post 3</a></li>
        </ul>
</BaseLayout>

        
       
    </body>
</html>
